<style type="text/css">

.texto1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
}
.texto2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
	font-weight: bold;
}
.texto3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 1px solid #999999;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003366;
}
.texto4 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #999999;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #004040;
}
.texto5 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #333366;
}

    </style>
.texto1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
	font-weight: bold;
}
.texto1 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
	font-weight: normal;
}
.texto6 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 1px solid #999999;
	font-weight: bold;
}
.texto7 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #999999;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #004040;
}
.texto8 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #999999;
	font-weight: bold;
}
.texto9 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #999999;
	font-weight: normal;
	text-align: center;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #color;
}
.texto10 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #999999;
	font-weight: bold;
	color: #FF0000;
}
.texto11 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #003366;
}
table.Tablas{
	
	border-collapse: collapse;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	border: 1px solid #CCCCCC;
}
table.Tablas td {
	padding: 5px 2px;
	
	border: 1px solid #CCCCCC;
}
table.Tablas th {
	padding: 2px;
	
	border: 1px solid #CCCCCC;
}


.texto12 {


	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	border: 1px solid #999999;
	font-weight: bold;
}
.texto12_sinborde{


	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.borde1 {



	font-family: Geneva, Arial, Helvetica, sans-serif;
	border: thick solid #000000;
	font-weight: bold;
}
.texto13 {



	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 36px;
	border: 1px solid #999999;
	font-weight: bold;
}
.texto14 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
	font-weight: normal;
	background-color: #CCCCFF;
}
.texto15 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
	font-weight: bold;
	color: #0066FF;
}
.texto16 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #999999;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0099CC;
}
.texto17 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #999999;
	font-weight: normal;
	text-align: left;
}
.texto18 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0099CC;
}
.texto8_1 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: 1px none #CCCCCC;
	font-style: normal;
}
.texto19 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #000000;
	background-color: #CCCCCC;
}
.texto20 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #999999;
	font-weight: bold;
	color: #FFFFFF;
	background-color:#003366
}


.btn {
	border: none; /* Remove borders */
	color: white; /* Add a text color */
	padding: 5px 5px; /* Add some padding */
	cursor: pointer; /* Add a pointer cursor on mouse-over */
	font-size: 8px;
	font-family: Arial, Helvetica, sans-serif;
	
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {
	background-color: #2196F3;
	color: #FFFFFF;
} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

<style>
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

  	.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	.hoverTable td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
	}
	/* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: #ffff99;
    }

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

</style>
