    /* Style for the custom table */
    .custom-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-family: Arial, sans-serif;
    }

    /* Style for table header */
    .custom-table th {
      background-color:#006699;
      color: white;
      font-weight: bold;
      padding: 10px;
      text-align: left;
      border-bottom: 2px solid #ddd;
    }

    /* Style for alternating table rows */
    .custom-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    /* Style for table cell */
    .custom-table td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }

    /* Hover effect on table rows */
    .custom-table tr:hover {
      background-color: #ddd;
    }

    /* Style for responsive table */
    @media screen and (max-width: 600px) {
      .custom-table {
        border-collapse: collapse;
        width: 100%;
        overflow-x: auto;
      }

      .custom-table th, .custom-table td {
        white-space: nowrap;
      }
    }


.titulo1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	background-color: #979FB0;
}
.texto1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	color: #000000;
}

.texto1_sin_borde {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.texto2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #006699;
	border: 1px solid #CCCCCC;
}
.titulo2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	background-color: #979FB0;
}
.texto3 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #006699;
	border: 1px solid #CCCCCC;
}
.texto1Negrita {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
}
.texto2CopyGrande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #006FA4;
	border: 1px solid #CCCCCC;
	background-color: #D9F5FF;
}
.texto1pequenito {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #CCCCCC;
}
.texto2Copy_maspequeno {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #006FA4;
	border: 1px solid #CCCCCC;
	background-color: #D9F5FF;
	text-align: left;
}
.texto_grande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
}
.solo_borde1 {
	border: thin solid #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
}
	.signo_grande {

	border: thin none #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
}
.texto3Copy2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #006699;
}
.titulo3 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	background-color: #979FB0;
}
.texto4Copy {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #0082BF;
}
.texto5Copy {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #006699;
}
.textoQuejaReclamo {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #000000;
}
.textoLlamadaCobranza {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #FF0066;
}
.texto6Copy2 {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #006699;
}
.texto7Copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #006699;
}
.texto2CopyNoBold {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #006FA4;
	border: 1px solid #CCCCCC;
	background-color: #D9F5FF;
}
.texto1NegritaRojo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #FF0000;
}
.texto1NegritaRojo2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #D90000;
}
.texto1NegritaRojo3 {


	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #AE7B1C;
}
.texto5Copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #21ACC5;
	text-align: center;
}
.BordeGrueso1 {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: thick solid #000000;
	color: #000000;
}
.texto1FondoRojoClaro {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	color: #000000;
	background-color: #FFECEC;
}
.texto1NegritaAzul {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #0066CC;
}
.texto_grande_times {
	font-family: "Times New Roman", Times, serif;
	font-size: 14pt;
	font-style: italic;
	font-weight: bold;
	color: #0066CC;
}
.texto_grande_times2 {

	font-family: "Times New Roman", Times, serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	color: #0099CC;
}
.texto_pequeno_times {

	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
	font-style: italic;
	font-weight: bold;
	color: #003399;
}
.texto1_sinborde {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border: 1px none #CCCCCC;
	vertical-align: middle; /* Vertical alignment */
}
.texto7Copy3 {





	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #990066;
}
.texto1pequenito_sinborde {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px none #CCCCCC;
}
.texto9Copy {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #999966;
}
.texto2Copy {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006FA4;
	border: 1px solid #CCCCCC;
	background-color: #D9F5FF;
}
.texto2FondoNegro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #000000;
}
.texto2FondoRojo {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #FF0000;
}
.texto2FondoRojo2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#FF6400;
	border: 1px solid #CCCCCC;
	background-color: #FF0000;
}.texto1pequenito_sinbordeClaro {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px none #CCCCCC;
	color: #FFF;
	background-color: #369;
}
.fondoClaro {
	background-color: #F9FFE1;
	border: 1px solid #CCC;
}

.sonrojo{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: none;
	background-color:#FFEEEE;
}
.texto2FondoVerde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #066;
}
.texto2FondoRojoPequenito {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #FF0000;
}

.good-value-background{
    background-color: #C6EFCE;
    color: #2C6100;
    font-size: 15px;
    text-align: center;
}

.bad-value-background{
    background-color: #FFC7CE;
    color: #9C0006;
    font-size: 15px;
    text-align: center;
}
 .subtitles{
    background-color: #D9F5FF;
    border: 1px solid #CCCCCC;
    color: #006FA4;
    font-family: Arial,Helvetica,sans-serif;
}
 .subtitles a{
    background-color: #D9F5FF;
    border: 1px solid #CCCCCC;
    color: #006FA4;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 10px;
}
.topt{
    
    
    height: 100%;
   margin-top: -1px;
     width: 50%;
     text-align: center;
   
}
.topt .divp{
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
}
.topt .divpt{
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    font-size: 9px;
}
.topt .d{
     background-color: #D9F5FF;
    border: 1px solid #CCCCCC;
    color: #006FA4;
    font-family: Arial,Helvetica,sans-serif;
    height: 100%;
  width: 100%;
    font-size: 11px;
    font-weight: bold;
    margin-top: 0px;
}
.leftt{
    float: left;
}
.rightt{
    float: right;
}
.marg{
    padding: 0px;
    margin: 0px;
    display:table-cell;
vertical-align:top;
}
.margnormal{
    padding: 4px;
    margin: 5px;
}
.paddrig{
    padding-right: 4px;
}
.paddlef{
    padding-left: 4px;
   
}
.padd{
    padding: 1px;
    
}
td .margin{
    margin: 2px auto;
    padding: 1px;
    text-align: center;
    position: relative;
}
.bordert{
    border-bottom: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
    border-left: solid 2px #CCCCCC;
    border-right: solid 2px #CCCCCC;
   
   }
   .bordert td, tr{
       border: none;
   }

.lblchk{
    border:  solid;
}
.mitadl{
    width: 50%;
    float: left;
    text-align: right;
}

.mitadr{
    width: 50%;
    float: right;
    text-align: left;
}
.selectcss { 
  
   border: 1px solid #CCCCCC;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 100%;

}
.selectprof{
     border: 1px solid #CCCCCC;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 10px;
    color:  #666666;
    font-weight: bold;
    background-color:  #FAFBFD;
}
.selectprof option{
     
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 14px;
}
.leftliq{
    float: left;
    width: 33%;
   
}
.rightliq{
    float: right;
    width: 33%;
   
}
.leftliq .d,.rightliq .d{
   background-color: #D9F5FF;
    border: 1px solid #CCCCCC;
    color: #006FA4;
    font-family: Arial,Helvetica,sans-serif;
    height: 100%;
  width: 100%;
    font-size: 11px;
    font-weight: bold;
    margin-top: 0px; 
    text-align: center;
}
.leftliq .divp, .rightliq .divp{
     text-align: center;
    font-weight: bold;
    padding-top: 4px;
}
.thliq{
    background-color: #D9F5FF;
    border: 1px solid #CCCCCC;
    color: #006FA4;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    padding: 3px;
}
.thliqres{
    background-color: #21ACC5;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight:  bold;
    text-align: center;
    padding: 3px;
}
.margnormal .textonormal{
    font-size: 11px;
    
}
.txtcenter{
    text-align: center;
}
.usucont{
    width: 100%;
}
.top table{
    text-align: center;
}
.encfacturas td,tr,th{
    border: none;
   
}
#generarfact{
     width: 33%;
     float: left;
}
#vistasfact{
     width: 33%;
     float: left;
}
#buscarfact{
     width: 33%;
     float: right;
}
.lefcolumnf{
     width: 33%;
     float: left;
}
.medcolumnf{
    width: 33%;
     float: left;
}
.rigcolumnf{
    width: 33%;
    float: right;
}
.warning{
    background-color:  #9C0006;
    color:  white;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-weight:  bold;
}
.borderright{
    border-right: solid 1px;
}
.margtop{
    margin-top: 5px;
}
.pad2{
    padding: 2px;
}
#listfacturas{
     font-family: sans-serif;
    font-size: 12px;
    
}
#listfacturas a{
    list-style: none;
    text-decoration:  none;
    color: #4D95CB;
    font-weight: bold;  
    font-size: 12pt;
     
}
#listfacturas a:visited{
    list-style: none;
    text-decoration:  none;
    color: #87B8DE;
    font-weight:  bold;
    font-size: 12pt;
    
     
}
.factpeq{
    font-size: 8pt;
    font-family:  sans-serif;
    text-align: center;
    font-weight:  bold; 
}
#encabezfact{
    font-size: 10pt;
    font-weight: bold;
   
}
#encabezfact a{
    list-style: none;
    text-decoration:  none;
}
.respu{
   
     color: #666666;
}
.titleres{
    width: 100%;
    background-color:  #4D95CB;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.lefcolumn2{
    width: 37%;
    float: left;
   
    
    
}
.rigcolumn2{
    padding-top: 2px;
    width: 60%;
    float: right;
    margin-top: 3px;
   
    
}
.porcoche .table-general{
     width: 80%;
     margin: 0px  auto;
}
#dtotalesf .table-general{
    font-size: 15px;
}
.container .table-general{
    font-size: 10pt;
}
#listfacturas .nrocons a{
    font-size: 9pt;
  font-weight: normal;   
}
#listfacturas .nrocontra a{
    font-size: 9pt;
    font-weight: bold;   
}
.fieldset{
    color: #B80000;
    font-weight: bold;
    font-size: 15px;
    background-color:#F3F3F3;
}
.rdescuentos{
    width: 20%;
    float: left;
}
.texto1 .table-general{
    font-size: 11pt;
    border: solid 1px #CCC;
    border-collapse: collapse;
    float: left;
      margin-left: 3%;
}
.texto1 .table-general th{
    font-size: 11pt;
    border: solid 1px #CCC;
    color: white;
    background-color: #006699;
  
}
.texto1 .table-general tr{
    font-size: 11pt;
    border: solid 1px #CCC;
}
.texto1 .table-general .totadct{
    font-size: 11pt;
     background-color:  yellow;
     font-weight: bold;
}
.texto1 .table-general .txtright{
    text-align: right;
    padding-right: 4px;
}
.two-column-controles{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.two-column-controles .left{
    width: 70%;
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: justify;
}
.two-column-controles .right{
    width: 30%;
    margin: 0px;
    padding: 0px;
    float: right;
}.texto2_rojo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#FF0000;
	border: 1px solid #CCCCCC;
}
.texto3FondoRojo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #FF0000;
}
.texto3FondoNegro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #000000;
}
.texto3FondoVerde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #009900;
}
.texto3FondoNegro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #000000;
}
/* Style for the td */
.texto2Copy_maspequeno_hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #006FA4;
	border: 1px solid #CCCCCC;
	background-color: #D9F5FF;
	text-align: left;
    position: relative;
}

/* Style for the hover area */
.hover-area {
    display: inline-block;
    position: relative;
}

/* Create the little rectangle box */
.texto2Copy_maspequeno_hover:hover .hover-area::after {
    content: "Your title text here"; /* Set your title text */
    position: absolute;
    top: -30px; /* Adjust to position the box */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333; /* Rectangle color */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}
.texto1NegritaRojo4 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF0000;
}
.texto1NegritaRojo5 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #930000;
}
